<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>SpringBoot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/81355772b1.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="home">
<header class="page-header" id="top">
  <div class="header-container">
    <div class="sitetitle">
      <h1 class="header-logo">
        <a href="index.html"><img src="img/elshaddai_title.jpg" alt="index"></a>
      </h1>
      <div class="navbtn">ボタン</div>
        <!-- <a href="#"><img src="img/header.png" class="header-img" alt="header"></a> -->
      <div class="nav-btn">
        <a href="#"></a>
      </div>
    </div>
    <nav>
      <ul class="header-nav">
        <li><a href="index.html">天界</a></li>
        <li><a href="post.html">世界</a></li>
        <li><a href="#">エルダー評議会</a></li>
        <li><a href="#">冥界</a></li>
        <li><a href="#">人間界</a></li>
      </ul>
    </nav>
  </div>
</header>g
<div class="here">
  <div class="hero-container">
    <div class="hero-image"><img src="img/e3_luciferpv_1080239.jpg" alt="hero"></div>
    <div class="hero-logo"><img src="img/footer_logo.png" alt="title"></div>
  </div>
</div>
<div class="page-main">
  <div class="main-container">
    <div class="home-lead">
      <p>エルシャダイ</p>
    </div>
    <h2>Latest</h2>
    <h2>Popular</h2>
  </div>
</div>
<div class="news">
  <div class="news-container">

  </div>
</div>
<div class="page-bottom">
  <div class="bottom-container">
    <div class="banner">
      <div>
        <a href="#"><img src="img/e3_luciferpv_1080192.jpg" alt=""></a>
      </div>
      <div>
        <a href="#"><img src="img/e3_luciferpv_1080218.jpg" alt=""></a>
      </div>
    </div>
    <h2 class="followus">Follow Us!</h2>
    <div class="page-bottom">
      <div class="sns">
        <div><a href="#"><i class="fab fa-twitter"></i></a></div>
        <div><a href="#"><i class="fab fa-facebook-f"></i></a></div>
        <div><a href="#"><i class="fab fa-instagram"></i></a></div>
      </div>
    </div>
    <div class="gotop">
      <a href="#top"><i class="fas fa-chevron-up"></i></a>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="index.html"><img src="img/footer_logo.png" alt="elshaddai"></a>
    </div>
    <ul class="footer-nav1">
      <li><a href="index.html">HOME</a></li>
      <li><a href="post.html">天界</a></li>
      <li><a href="#">冥界</a></li>
      <li><a href="#">世界</a></li>
      <li><a href="#">人間界</a></li>
    </ul>
    <ul class="footer-nav1">
      <li><a href="#">エルシャダイについて</a></li>
      <li><a href="#">開発</a></li>
    </ul>
    <p class="copyright">@ Hoge All rights reserved</p>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
</body>
</html>
