<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>SpringBoot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="post">
<header class="page-header">
  <div class="header-container">
    <div class="site-title">
        <a href="#"><img src="img/header.png" alt="header"></a>
      <div class="nav-btn">
        <a href="#"></a>
      </div>
    </div>
  </div>
</header>
<div class="breadcrumb">
  <div class="bc-container">
  </div>
</div>
<div class="page-main">
  <div class="main-container">
    <header class="post-header">
      <h1>話をしよう。あれは今から36万、いや、1万4000年前だったか・・・</h1>
    </header>
    <div class="post-contents">
      <h2>
        まぁいい、まぁいい、まぁいい、まぁいい、まぁいい、
      </h2>
      <p>私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。</p>
    </div>
    <footer class="post-footer">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, veniam.
    </footer>
    <img src="img/oba.jpeg" alt="oba">
  </div>
</div>
<div class="page-bottom">
  <div class="bottom-container"></div>
</div>
<footer class="page-footer">
  <div class="footer-container"></div>
</footer>
</body>
</html>
