<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>SpringBoot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/81355772b1.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="post">
<header class="page-header">
  <div class="header-container">
    <div class="sitetitle">
      <h1 class="header-logo">
        <a href="index.html"><img src="img/elshaddai_title.jpg" alt="index"></a>
      </h1>
      <div class="navbtn">ボタン</div>
        <!-- <a href="#"><img src="img/header.png" class="header-img" alt="header"></a> -->
      <div class="nav-btn">
        <a href="#"></a>
      </div>
    </div>
    <nav>
      <ul class="header-nav">
        <li><a href="index.html">HOME</a></li>
        <li><a href="post.html">最新情報</a></li>
        <li><a href="#">地域別に読む</a></li>
        <li><a href="#">連載一覧</a></li>
        <li><a href="#">インタビュー</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="breadcrumb">
  <div class="bc-container">
    <ul class="bc-nav">
      <li><a href="index.html">PS3</a></li>
      <li><a href="#">イグニッション・エンターテイメント</a></li>
      <li>エルシャダイ</li>
    </ul>
  </div>
</div>
<div class="page-main">
  <div class="main-container">
    <header class="post-header">
      <h1>話をしよう</h1>
      <div class="post-tag">
        <span><a href="#">あれは今から36万</a></span>
        <span><a href="#">いや</a></span>
      </div>
    </header>
    <div class="post-info">
      <span><i class="fas fa-pen-nib">1万</i></span>
      <span><i class="fas fa-map-marker-alt">4000</i></span>
      <span><i class="fas fa-clock">年前だったか</i></span>
    </div>
    <div class="post-contents">
      <h2>
        まぁいい
      </h2>
      <p>私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。私にとってはつい昨日の出来事だが君たちにとっては多分明日の出来事だ。</p>
      <p><mark>彼には72通りの名前があるから、何て呼べばいいのか・・・</mark></p>
      <ul class="list">
        <li>確か最初に会ったときは……、</li>
        <li>確か最初に会ったときは……、</li>
        <li>確か最初に会ったときは……、</li>
      </ul>
      <h2>
        イーノック
      </h2>
      <div class="foat-box">
        <img src="img/e3_luciferpv_1080041.jpg" alt="そう、あいつは最初から、言うことを聞かなかった。" class="float-left">
        <p>イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！イーノック！</p>
        <p>イーノック！イーノック！イーノック！イーノック！</p>
        <img src="img/e3_luciferpv_1080044.jpg" alt="そう、あいつは最初から、言うことを聞かなかった。" class="float-right">
        <p>そう、あいつは最初から、言うことを聞かなかった。そう、あいつは最初から、言うことを聞かなかった。そう、あいつは最初から、言うことを聞かなかった。</p>
        <p>そう、あいつは最初から、言うことを聞かなかった。そう、あいつは最初から、言うことを聞かなかった。</p>
      </div>
      <div class="post-tag">
        <span><a href="#">エルシャダイ</a></span>
      </div>
      <div class="info-box">
        <p><strong>大丈夫だ</strong><br>
          問題ない<br>
        </p>
      </div>
    </div>
    <!-- チャット -->
    <div class="chat">
      <div class="chat-1st">
        <div class="face">
          <img src="img/e3_luciferpv_1080032.jpg" alt="">
        </div>
        <div class="talk">
          <p>そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？そんな装備で大丈夫か？</p>
        </div>
      </div>
      <div class="chat-2nd">
        <div class="face">
          <img src="img/e3_luciferpv_1080066.jpg" alt="">
        </div>
        <div class="talk">
          <p>大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。大丈夫だ、問題ない。</p>
        </div>
      </div>
      <div class="chat-2nd">
        <div class="face">
          <img src="img/e3_luciferpv_1080085.jpg" alt="">
        </div>
        <div class="talk">
          <p>ウッ！ウッ！オッ！ウッ！ウッ！オッ！ウッ！ウッ！オッ！ウッ！ウッ！オッ！ウッ！ウッ！オッ！ウッ！ウッ！オッ！ウッ！ウッ！オッ！ウッ！ウッ！オッ！</p>
        </div>
      </div>
      <div class="chat-1st">
        <div class="face">
          <img src="img/e3_luciferpv_1080094.jpg" alt="">
        </div>
        <div class="talk">
          <p>神は言っている、ここで死ぬ定めではないと。神は言っている、ここで死ぬ定めではないと。神は言っている、ここで死ぬ定めではないと。神は言っている、ここで死ぬ定めではないと。</p>
        </div>
      </div>
    </div>
    <footer class="post-footer">
      <h2><i class="fas fa-pen-fancy"> Profile</i></h2>
      <div class="profile">
        <div class="pr-photo">
          <img src="img/e3_luciferpv_1080129.jpg" alt="">
        </div>
        <div class="pr-text">
          <p><strong>イーノック</strong><br>
            身長180cm、体重85kg、血液型A型。元は普通の農民として暮らしていた青年。
            ヒトでありながら熱烈な神への信仰心を持ち、神に認められ天界出身となってからは天界にて書記官を務める。</p>
        </div>
      </div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, veniam.
    </footer>
    <div class="post-headerimage">
      <figure class="photo-caption">
        <img src="img/oba.jpeg" alt="oba">
        <figcaption>あらいぐまとおーば</figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="page-bottom">
  <div class="bottom-container"></div>
</div>
<footer class="page-footer">
  <div class="footer-container"></div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
</body>
</html>
