<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>SpringBoot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/81355772b1.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="home">
<header class="page-header" id="top">
  <div class="header-container">
    <div class="sitetitle">
      <h1 class="header-logo">
        <a href="index.html"><img src="img/elshaddai_title.jpg" alt="index"></a>
      </h1>
      <div class="navbtn">ボタン</div>
        <!-- <a href="#"><img src="img/header.png" class="header-img" alt="header"></a> -->
      <div class="nav-btn">
        <a href="#"></a>
      </div>
    </div>
    <nav>
      <ul class="header-nav">
        <li><a href="index.html">天界</a></li>
        <li><a href="post.html">世界</a></li>
        <li><a href="#">エルダー評議会</a></li>
        <li><a href="#">冥界</a></li>
        <li><a href="#">人間界</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="here">
  <div class="hero-container">
    <div class="hero-image"><img src="img/e3_luciferpv_1080239.jpg" alt="hero"></div>
    <div class="hero-logo"><img src="img/footer_logo.png" alt="title"></div>
  </div>
</div>
<div class="page-main">
  <div class="main-container">
    <div class="columns">
      <main class="columns-post">
      </main>
      <aside class="columns-side">
        <div class="side-popular">
          <a href="#">
            <h2>Special</h2>
            <img src="img/e3_luciferpv_1080232.jpg" alt="">
            <p>どこを見ても面白い。煌びやかな自然が開放的。のんびり木々を眺めながら観察散歩</p>
          </a>
        </div>
        <div class="side-latest">
          <h2>Latest</h2>
          <ul>
            <li>
              <div><img src="images/latest-photo1-square.jpg" alt=""></div>
              <p><a href="#">知らない街の「地元」の空気に触れたい！ファーマーズマーケットには情報がいっぱい</a></p>
            </li>
            <li>
              <div><img src="images/latest-photo2-square.jpg" alt=""></div>
              <p><a href="#">伝統柄からモダンデザインまでそろった植木鉢専門の工房で絵付けを体験</a></p>
            </li>
            <li>
              <div><img src="images/latest-photo3-square.jpg" alt=""></div>
              <p><a href="#">どこを切り取っても面白い。カラフルな家が立ち並ぶ水の都で色の観察散歩</a></p>
            </li>
            <li>
              <div><img src="images/latest-photo4-square.jpg" alt=""></div>
              <p><a href="#">ふわっとした穴の空いていないドーナッツ食べくらべ。ロンドンの一番人気は？</a></p>
            </li>
            <li>
              <div><img src="images/latest-photo5-square.jpg" alt=""></div>
              <p><a href="#">絵本に出てくるようなどこまでも続く道。走って行った先にあったものは……？</a></p>
            </li>
            <li>
              <div><img src="images/latest-photo6-square.jpg" alt=""></div>
              <p><a href="#">日本の縁日みたい！カーニバルの出店にはその土地のカルチャーが詰まっている</a></p>
            </li>
          </ul>
        </div>
        <div class="side-book">
          <h2>BOOK</h2>
          <div class="book-info">
            <div class="book-image"><img src="images/book-cafe.png" alt=""></div>
            <div class="book-text">
              <p><strong>コーヒー好きのカフェめぐり</strong></p>
              <p>Tansaku!編集部<br>
              ¥1,600（税別）</p>
            </div>
            <div class="buy">
              <button type="button">購入</button>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="index.html"><img src="img/footer_logo.png" alt="elshaddai"></a>
    </div>
    <ul class="footer-nav1">
      <li><a href="index.html">HOME</a></li>
      <li><a href="post.html">天界</a></li>
      <li><a href="#">冥界</a></li>
      <li><a href="#">世界</a></li>
      <li><a href="#">人間界</a></li>
    </ul>
    <ul class="footer-nav1">
      <li><a href="#">エルシャダイについて</a></li>
      <li><a href="#">開発</a></li>
    </ul>
    <p class="copyright">@ Hoge All rights reserved</p>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
</body>
</html>
