<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>SpringBoot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/81355772b1.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="home">
<header class="page-header" id="top">
  <div class="header-container">
    <div class="sitetitle">
      <h1 class="header-logo">
        <a href="index.html"><img src="img/elshaddai_title.jpg" alt="index"></a>
      </h1>
      <div class="navbtn">ボタン</div>
        <!-- <a href="#"><img src="img/header.png" class="header-img" alt="header"></a> -->
      <div class="nav-btn">
        <a href="#"></a>
      </div>
    </div>
    <nav>
      <ul class="header-nav">
        <li><a href="index.html">天界</a></li>
        <li><a href="post.html">世界</a></li>
        <li><a href="#">エルダー評議会</a></li>
        <li><a href="#">冥界</a></li>
        <li><a href="#">人間界</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="here">
  <div class="hero-container">
    <div class="hero-image"><img src="img/e3_luciferpv_1080239.jpg" alt="hero"></div>
    <div class="hero-logo"><img src="img/footer_logo.png" alt="title"></div>
  </div>
</div>
<div class="page-main">
  <div class="main-container">
    <div class="home-lead">
      <p>エルシャダイ</p>
    </div>
    <h2>Latest</h2>
    <div class="home-latest">
      <div class="latest-item">
        <div class="latest-image">
          <a href="#"><img src="img/e3_luciferpv_1080222.jpg" alt=""></a>
        </div>
        <div class="latest-text">
          <h3><a href="#">うわ〜僕らの知らない冥界の空気は冷たい。最新部には屍がいっぱい</a></h3>
          <div class="home-tag">
            <span><a href="#">cool</a></span>
          </div>
          <div class="home-info">
            <span>underworld</span>
          </div>
        </div>
      </div>
      <div class="latest-item">
        <div class="latest-image">
          <a href="#"><img src="img/e3_luciferpv_1080226.jpg" alt=""></a>
        </div>
        <div class="latest-text">
          <h3><a href="#">伝説の妖刀からモダンソードまで！黒いお兄さんで試し切り？鋭利な武器を体験！</a></h3>
          <div class="home-tag">
            <span><a href="#">experience</a></span>
            <span><a href="#">weapon</a></span>
          </div>
          <div class="home-info">
            <span>武器や</span>
          </div>
        </div>
      </div>
      <div class="latest-item">
        <div class="latest-image">
          <a href="#"><img src="img/e3_luciferpv_1080250.jpg" alt=""></a>
        </div>
        <div class="latest-text">
          <h3><a href="#">虫さんたちとのふれあい体験。仲良くおはなししよう！「行きなさい！貴方達。弟の仇を取るのです。」</a></h3>
          <div class="home-tag">
            <span><a href="#">revenge</a></span>
          </div>
          <div class="home-info">
            <span>昆虫館</span>
          </div>
        </div>
      </div>
      <div class="latest-item"></div>
      <div class="latest-item"></div>
      <div class="latest-item"></div>
    </div>
    <h2>Popular</h2>
    <div class="home-popular">
      <div class="popular-item">
        <div class="popular-photo">
          <img src="img/e3_luciferpv_1080176.jpg" alt="">
        </div>
        <div class="popular-text">
          <h3>ビニ傘にみえる？</h3>
          <p>うん。さっきコンビニで拾った</p>
          <div class="home-info">
            <span>ある雨の日</span>
          </div>
        </div>
      </div>
      <div class="popular-item">
        <div class="popular-photo">
          <img src="img/e3_luciferpv_1080172.jpg" alt="">
        </div>
        <div class="popular-text">
          <h3>ここだけの話があるんだ...</h3>
          <p>このあたりに携帯の充電できる場所ない？</p>
          <div class="home-info">
            <span>いつもの風景</span>
          </div>
        </div>
      </div>
      <div class="popular-item">
        <div class="popular-photo">
          <img src="img/e3_luciferpv_1080027.jpg" alt="">
        </div>
        <div class="popular-text">
          <h3>明日の話をしよう</h3>
          <p>やっぱり明日話そう</p>
          <div class="home-info">
            <span>素直な気持ち</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ニュース -->
<div class="news">
  <div class="news-container">
    <h2>News</h2>
    <div class="home-news">
      <dl>
        <dt>2013.3.25</dt>
        <dd>アザゼルがトークイベントを開催します！<a href="#">[<i class="fas fa-arrow-circle-right"></i>全文を読む]</a></dd>
      </dl>
      <dl>
        <dt>2021.2.15</dt>
        <dd>イシュタールが骨のかけらを配布！<a href="#">[<i class="fas fa-arrow-circle-right"></i>全文を読む]</a></dd>
      </dl>
      <dl>
        <dt>2013.3.25</dt>
        <dd>ウリエルと戦おう！<a href="#">[<i class="fas fa-arrow-circle-right"></i>全文を読む]</a></dd>
      </dl>
    </div>
  </div>
</div>
<div class="page-bottom">
  <div class="bottom-container">
    <div class="banner">
      <div>
        <a href="#"><img src="img/e3_luciferpv_1080192.jpg" alt=""></a>
      </div>
      <div>
        <a href="#"><img src="img/e3_luciferpv_1080218.jpg" alt=""></a>
      </div>
    </div>
    <h2 class="followus">Follow Us!</h2>
    <div class="page-bottom">
      <div class="sns">
        <div><a href="#"><i class="fab fa-twitter"></i></a></div>
        <div><a href="#"><i class="fab fa-facebook-f"></i></a></div>
        <div><a href="#"><i class="fab fa-instagram"></i></a></div>
      </div>
    </div>
    <div class="gotop">
      <a href="#top"><i class="fas fa-chevron-up"></i></a>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="index.html"><img src="img/footer_logo.png" alt="elshaddai"></a>
    </div>
    <ul class="footer-nav1">
      <li><a href="index.html">HOME</a></li>
      <li><a href="post.html">天界</a></li>
      <li><a href="#">冥界</a></li>
      <li><a href="#">世界</a></li>
      <li><a href="#">人間界</a></li>
    </ul>
    <ul class="footer-nav1">
      <li><a href="#">エルシャダイについて</a></li>
      <li><a href="#">開発</a></li>
    </ul>
    <p class="copyright">@ Hoge All rights reserved</p>
  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
</body>
</html>
