@charset "utf-8";

html *,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 0.75rem;
}

body {
  font-family: sans-serif;
}

a {
  color: #f30;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  display: inline;
}

/**
* ***********
* メインコンテナ
* ***********
*
* [index.html] メインコンテナ
*/
.post .main-container {
  padding: 80px 4% 0;
}

@media (min-width: 768px) {
  .post .main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 80px 20px 0;
    background: url("../img/post-bg.svg") repeat-x;
    background-position: 0 10px;
  }
}

/**
* ***********
* ページ下部
* ***********
*
* ページ下部コンテナ
*/

.page-bottom {
  background: url(../img/bottom-bg.svg);
}

.bottom-container {
  padding: 60px 4% 0;
}

@media (min-width: 768px) {
  .bottom-container {
    margin: 0 auto;
    padding: 60px 20px 0;
    max-width: 1040px;
  }
}

/**
* ***********
* フッター
* ***********
*
* フッターコンテナ
*/

.page-footer {
  background: #000;
}

.footer-container {
  padding: 60px 4%;
}

@media (min-width: 768px) {
  .footer-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 60px 20px;
  }
}

/**
* ***********
* ヘッダー
* ***********
*
* ヘッダーコンテナ
*/
@media (min-width: 768px) {
  .header-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1040px;
  }
}

.page-header {
  background: url("../img/header-topline.svg") repeat-x;
  border-bottom: 1px solid #d8d8d8;
}

/* パンくず */
.breadcrumb {
  display: none;
}

@media (min-width: 768px) {
  .breadcrumb {
    display: block;
    background: #efefef;
  }

  .bc-container {
    margin: 0 auto;
    padding: 12px 20px;
    max-width: 100%;
  }
}
